<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="public/img/icono.jpg">
    <title>Document</title>
</head>
<body>
    <header>
        <a class="logo">
            <img src="../img/icono.jpg" alt="icono de empresa" class="icono">
            <h2 class="nombre2">¡TODO SOBRE NOTICIAS!</h2>
        </a>
        
    </header>   
    <h1 class="centradoA">¿Tienes algun problema? comentanoslo o llamanos</h1>
    <br>
    <form action="inconveniente">
        <fieldset>
            <textarea name="INCOMVENIENTE" id="problema" maxlength="1180"></textarea>
        </fieldset>
    </form>
    
    <footer>
        <table class="table">
            <thead class="autora">
                <tr>
                    <th>autora</th>
                    <th>siguenos</th>
                    <th>estudios</th>
                </tr>
            </thead>
            <tbody class="autora">
                <tr>
                    <td>Choque del oro Valentina</td>
                    <td>@¡Todo sobre noticias!</td>
                    <td>Utec Potrero digital</td>
                </tr>
            </tbody>
        </table>
    </footer>
</body>
</html>